In [1]:
import os
import pandas as pd
import pathlib

AIRFLOW_PATH = os.path.normpath(os.getcwd() + '../../airflow')

In [2]:
df = pd.read_pickle(f'{AIRFLOW_PATH}/datastore/wikipedia_result.pkl')

In [62]:
# Explode tuples
genres_full = df['Genre'].explode('Genre')
# Split any remaining comma seperated lists
genres_full = genres_full.str.split(',', expand=True)
genres_full = genres_full[0].to_frame(name="Genre").merge(genres_full[1].to_frame(name="Genre"), how='outer', on='Genre')
genres_full = genres_full['Genre']
genres_full = genres_full[genres_full.notnull()]

# Capitalize words
genres_capitalized = genres_full.map(lambda a: a.title())

# Reduce to unique entries
genres_unique = genres_capitalized.unique()
# unique gives us an ndarray, convert back to a dataframe
genres_unique = pd.DataFrame(data=genres_unique, columns=['Genre'])

# Sort
genres_unique.sort_values(by='Genre')

                       Genre
221                   Action
241      Action Role-Playing
213                Adventure
212                      Art
220              Beat 'Em Up
..                       ...
200  Vehicle Simulation Game
52          Vehicular Combat
189        Vehicular Sandbox
16              Visual Novel
91            War Simulation

[245 rows x 1 columns]

In [68]:
# Create the mapping dataframe
genres_full = df['Genre'].explode('Genre')
genre_map = pd.DataFrame({
    'from': genres_full,
    'to': genres_full
})
genre_map

                     from                   to
0            Shoot 'em up         Shoot 'em up
1                 Shooter              Shooter
2     Action role-playing  Action role-playing
3                Platform             Platform
4                Platform             Platform
...                   ...                  ...
4707               Sports               Sports
4708               Sports               Sports
4709     Platform, puzzle     Platform, puzzle
4710               Puzzle               Puzzle
4711     Action-adventure     Action-adventure

[4712 rows x 2 columns]